.filter-users,
.filter-users-report {
    padding: 2px 0 0 0;
}
.tablenav .select2-container {
    margin: 0 6px 0 0;
    position: relative;
    padding: 1px 0 0;
}
.tablenav .select2-container span.select2-selection {
    border-color: #ddd;
    border-radius: unset;
}
.tablenav .select2-container span.select2-selection__arrow {
    top: 2px;
}
.select2-container .select2-dropdown {
    border-color: #ddd;
}
#user_customer .select2.select2-container {
    max-width: 25em;
}
.unidress-input-width {
    max-width: 25em;
}
.unidress-input-width-wide {
    max-width: 45em;
}
.customer_number input,
.branch_number input,
.project_number input {
    max-width: 80px;
}
.customer_number .save-field,
.branch_number .save-field,
.project_number .save-field {
    margin: 0 10px;
}
#publishing-action2 {
    text-align: right;
    float: left;
    line-height: 23px;
}
#publishing-action2 .spinner {
    float: right;
}
#delete-action2 {
    float: right;
    line-height: 28px;
}
#product-filter {
    display: inline-block;
}
.product-table {
    height: auto;
    width: 100%;
    border-collapse: collapse;
}
.product-table th,
.product-table td {
    border: 1px solid grey;
    padding: 5px;
}
.product-table thead td {
    font-weight: bold;
}
.filter-bar {
    margin-bottom: 10px;
}
.filter-bar > * {
    margin: 0;
}
.btn-simple {
    display: inline-block;
    padding: 2px 6px 3px;
    text-align: center;
    cursor: pointer;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border: 2px outset buttonface;
    border-image: initial;
}
.disable-row {
    color:#a5a5a5
}

.kit-title {
    display: inline-block;
}
.kit-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.kit-info > div {
    padding: 15px;
    flex: 1 0;
    border: 1px solid #e5e5e5;
}
.kit-info > .inline-info > *{
    display: inline-block;
    width: auto;
    padding-right: 10px;
}
.kit-active-campaign {
    background-color: #e4ffe4;
}
.kit-active-campaign.not-active {
    background-color: #fdf3b0;
}
.active-project {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.active-project .inline-info {
    padding: 15px;
    background-color: #e4ffe4;
}
.active-project .inline-info.not-active {
    background-color: #fdf3b0;
}

.kit-info > div > label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.kit-info > div > * {
    width: 100%;
}
.assign-products-meta-box .column-image {
    width: 55px;
    text-align: center;
}
.assign-products-meta-box .column-image img {
    margin: 0;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}
.assign-products-meta-box .column-sku {
    width: 70px;
}
.product-table.product-all .price,
.product-table.product-all .column-price {
    display: none;
}
.choices-list .column-price input,
.choices-list .column-price {
    width: 80px;
}
.column-group-name input {
    width: 100%;
}
.column-group-amount input,
.column-group-amount {
    width: 80px;
}
.assign-products-meta-box .column-option select {
    min-width: 150px;
}
.assign-products-meta-box .column-button {
    width: 90px;
    text-align: center;
}
#choose_kit {
    margin: 20px 0;
}
.qnty {
    width: 30px;
    text-align: center;
}
.wc-metaboxes-wrapper#product_options .expand-close {
    float: right;
    line-height: 28px;
}
.relative {
    position: relative;
}
.kit-options table {
    width: 100%;
    border-collapse: collapse;
}
.kit-options th,
.kit-options td {
    border: 1px solid grey;
    padding: 5px;
}
.kit-options {
    margin-bottom: 25px;
}
.column-group-amount {
    max-width: 50px;
}
.kit-options {
    max-width: 700px;
}
.kit-options .padding-left-10 {
    padding-left: 13px;
}
.variation-row {
    display: table-row;
}
.variation-row span {
    display: table-cell;
    padding: 3px;
}
/* Shipping */
.shipping-option-label {
    margin: 15px 0 5px;
    font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    color: red;
    font-size: 16px;
}
.graphic-list {
    display: none;
    margin-top: 5px;
    border-collapse: collapse;
}



/* Tables in assign product meta-box */

.product_tables {
    height: auto;
    width: 100%;
    border-collapse: collapse;
}
.product_tables th,
.product_tables td {
    border: 1px solid grey;
    padding: 5px;
}
.product_tables .wc-image.tips {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    margin: 0 auto;
    cursor: help;
    text-decoration: none;
    word-wrap: break-word;
}
.product_tables .wc-image.tips::before {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
}

.product_tables .column-thumb {
    width: 52px;
    text-align: center;
    white-space: nowrap;
}
.product_tables .column-thumb img {
    margin: 0;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
}
.product_tables .column-thumb a {
    display: block;
}

.column-sku {
    width: 90px;
    text-align: center;
}
.column-action {
    width: 90px;
    text-align: center;
}
.column-count {
    width: 52px;
    text-align: center;
}
.column-graphics,
.column-option {
    width: 20em;
}
/* #46: UN1-T47: Shipping to All Unidress Shops */
.shipping-option-label {
    display: inline-block;
    padding-right: 15px;
    vertical-align: sub;
}
/* #43: UN1-T50: Duplicate Assign product and Assigning Groups */
.kit-name {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
}
.kit-buttons > * {
    margin: 0 0.5em!important;
}

.kit-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 1em -0.5em;
}
.settings-duplicate .button {
    margin: 0 0.5em;
}
.delete-kit {
    background: #ff9898!important;
}
.variation-list {
    display: inline-block;
}
.variation-list .tab-pane {
    display: none;
}
.variation-list .active,
.variation-list .show-tab{
    display: block;
}
.variation-list .navigation-tabs {
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
}
.variation-list .navigation-tabs > li {
    display: inline-block;
    margin-bottom: -1px;
}

.variation-list .navigation-tabs > li > a {
    display: block;
    margin-right: 2px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    color: #555;
    z-index: 5;
    position: relative;
}
.variation-list .navigation-tabs > li.active>a,
.variation-list .navigation-tabs > li.active>a:hover,
.variation-list .navigation-tabs > li.active>a:focus {
    color: #555;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.variation-list .navigation-tabContent {
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    background-color: #f2f2f2;
}
#doaction,
#doaction2,
#post-query-submit,
#post-query-submit2 {
    margin: 0 6px 0 0;
}
.filter-users-report > *:last-child {
    margin: 0 6px;
}


/*NEW STYLE*/

input.error{
    border: 1px solid red;
}


.h-width-full{
    width: 100%;
}
.h-width-1{
    width: 55px;
}
.h-margin-auto{
    margin: 0 auto;
}


